* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: bisque;
}

/* HEADER */


.title-main {
    background-color: #c02828;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
    text-decoration: none;
}

h1 {
    padding-right: 5px;
}

.title-main2 {
    font-size: 1em;
    font-weight: 500;
}

.header-picture {
    width: 100%;
}

.title-sub {
    background-color: #8f8989;
    color: #fff;
    font-size: 1.2em;
    padding: 0.6em;
    display: flex;
    justify-content: center;

}


.nav {
    background-color: #fff;
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: brown;
    border-radius: 10px;
    font-weight: 600;
}

/**** FIN HEADER ***/



.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 100%;


}

.title-accueil,
.title-accueil-sub {
    color: #8f8989;
    margin-top: 20px;
    text-align: center;
}

/***** PART OF CARD **/

.card {

    background-color: #fff;
    width: 350px;
    height: 480px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border-radius: 10%;



}

.card-img img {
    width: 100%;
    height: 230px;
    border-radius: 10% 10% 0 0;

}


.card-body {
    text-align: center;
}

h3 {
    padding: 20px 0 10px 0;
}


.card-footer {
    background-color: #c02828;
    color: #fff;
    padding: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.card-footer:hover {
    color: #c02828;
    background: #fff;
    cursor: pointer;
    border: #c02828 solid 1px;
}

/***** END PART OF CARD **/

/*** FOOTER  ***/

footer {
    background-color: #8f8989;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picture2 {
    width: 5%;
    height: 3%;
}

/*** END FOOTER  ***/
